{% extends 'layout.html' %}
{% block body %}

{% with mensajes = get_flashed_messages(with_categories=true) %}
{% if mensajes %}
  {% for category, mensaje in mensajes %}
    <div class="alert alert-{{ category }} alert-dismissible fade show" role="alert">
      {{ mensaje }}
      <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    </div>
  {% endfor %}
{% endif %}
{% endwith %}

<!--Turnos asignados-->
<div><h1>TURNOS ASIGNADOS</h1></div>
<div class="row">
    <div>
        <table id=Asignados class="table table-striped table-border bg-white table-sm">
            <thead>
                <tr>
                    <th>Inicio</th>
                    <th>Fin</th>
                    <th>Paciente</th>
                    <th>Opciones</th>
                </tr>
            </thead>
            <tbody>
                {% for asignado in asignados %}
                 <tr>
                    <td>{{ asignado['fecha_inicio'] }}</td>
                    <td>{{ asignado['fecha_fin'] }}</td>
                    <td>{{ asignado['dni'] }} - {{ asignado['apellidos'] }} {{ asignado['nombres'] }}</td>
                    <td>
                        <a href="/turnos/edit/{{asignado['id']}}" class="btn btn-info" ><svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-pencil-square" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                            <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456l-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
                            <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"/>
                          </svg></a>
                        <a href="/turnos/delete/{{asignado['id']}}" class="btn btn-danger" onclick="return confirm('¿Confirma eliminar el turno?\n Seleccione OK para eliminar');"><svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-trash" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                            <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
                            <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4L4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
                          </svg></a>
                    </td>
                 </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

<!--Turnos disponibles-->
<div><h1>TURNOS DISPONIBLES</h1></div>
<div class="row">
    <div>
        <table id=Disponibles class="table table-striped table-border bg-white table-sm">
            <thead>
                <tr>
                    <th>Inicio</th>
                    <th>Fin</th>
                </tr>
            </thead>
            <tbody>
                {% for disponible in disponibles %}
                 <tr>
                    <td>{{ disponible['fecha_inicio'] }}</td>
                    <td>{{ disponible['fecha_fin'] }}</td>
                 </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

</div>


<div class="row">
  <a href='/turnos/fadd' class="btn btn-primary">Asignar turno</a>

</div>




{% endblock %}